*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
.h1Text {
  font-size: 2.488rem;
  font-size: clamp(2.074rem, 12vw + 1px, 2.986rem);
}

h2,
.h2Text {
  font-size: 2.074rem;
  font-size: clamp(1.728rem, 8vw + 1px, 2.488rem);
}

h3,
.h3Text {
  font-size: 1.728rem;
  font-size: clamp(1.44rem, 6vw + 1px, 1.728rem);
}

h4,
.h4Text {
  font-size: 1.44rem;
  font-size: clamp(1.2rem, 5vw + 1px, 1.44rem);
}

h5,
.h5Text {
  font-size: 1.2rem;
  font-size: clamp(1rem, 4vw + 1px, 1.2rem);
}

.pText {
  font-size: 1rem;
}

.smallText {
  font-size: 0.875rem;
}

.tinyText {
  font-size: 0.8125rem;
}

.jumbo1 {
  font-size: 2.986rem;
}

.jumbo2 {
  font-size: 3.583rem;
}

.jumbo3 {
  font-size: 4.3rem;
}

.jumbo4 {
  font-size: 5.16rem;
}

.jumbo5 {
  font-size: 5.16rem;
}

.jumbo6 {
  font-size: 5.16rem;
}

body {
  animation-name: bg-animate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  color: #502050;
  font-family: "Spartan", sans-serif;
}

@keyframes bg-animate {
  0% {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-position: 0% -50%, 100% 300%;
  }
  100% {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
  }
}
#container {
  max-width: 1440px;
  margin: 0 auto;
  align-self: center;
  padding: 8vh 5vw;
}

main {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
}
@media (max-width: 60.25em) {
  main {
    display: block;
    text-align: center;
  }
}

.main__content {
  flex: 1;
}
.main__content .headline {
  max-width: 480px;
  line-height: 1;
}
@media (max-width: 60.25em) {
  .main__content .headline {
    max-width: 100%;
    margin-top: 2rem;
  }
}
.main__content .desc {
  max-width: 480px;
  line-height: 1.6;
  color: #937b92;
  margin-top: 1rem;
}
@media (max-width: 60.25em) {
  .main__content .desc {
    max-width: 100%;
    margin: 2rem 0;
  }
}

.rating {
  flex: 1;
}
@media (min-width: 61.25em) {
  .rating :nth-child(2) {
    margin-left: 3rem;
  }
  .rating :nth-child(3) {
    margin-left: 6rem;
  }
}

.rating__item {
  max-width: 480px;
  border-radius: 0.875rem;
  background-color: #f7f2f7;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 1rem;
}
.rating__item .material-icons {
  color: sandybrown;
  margin-right: 1rem;
  vertical-align: middle;
}
@media (max-width: 60.25em) {
  .rating__item {
    max-width: 100%;
  }
  .rating__item span {
    display: block;
    margin-bottom: 1rem;
  }
}

.card {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 60.25em) {
  .card {
    display: block;
  }
}

.namecard {
  background-color: #502050;
  color: #f7f2f7;
  border-radius: 0.875rem;
  padding: 2rem;
  margin-top: 2rem;
}
@media (min-width: 47.5em) {
  .namecard:nth-child(2) {
    margin-top: 4rem;
  }
  .namecard:nth-child(3) {
    margin-top: 6rem;
  }
}

.namecard__header {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.namecard__header .namecard__header__photo {
  border-radius: 50%;
  margin-right: 1rem;
}
.namecard__header .fullname {
  font-size: 1.2rem;
  font-weight: 500;
}
.namecard__header .fullname::after {
  content: "Verified Buyer";
  font-size: 1rem;
  font-weight: 400;
  color: #ee68a4;
  margin-top: 0.25rem;
  display: block;
}
.namecard__header .title {
  color: #ee68a4;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=main.css.map */
